*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin:0;
    
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #cacaca;
  }
#navbar{
    width:100%;
    height:70px;
    background-color: white;
    display:flex;
    position: fixed;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    top:0;
    left:0;

}
#navbar.shadow{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#logo1{
    height:100%;
    width:150px;
    justify-content: space-between;
    /* margin-top: 10px; */
    background-image: url("img/logo.png");
    background-size: cover;
    background-position: center;
    
}

#mid{
    width:500px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    font-weight: bold;
    
}

#contactBtn{
    border:none;
    background-color: #47bef1;
    color:white;
    height:50px;
    padding:3px 3px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 15px;
    width:150px;
    text-align: center;
    display:grid;
    place-items: center;
}

#contactBtn:hover{
    background-color: #71ccf3;
}
#contactBtn a{
    color:white;
}
#contactBtn a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #47bef1;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }
  
#contactBtn a:hover:after {
    transform: scaleX(1);
  }


#contactBtn:hover{
    background-color: #47bef1;
}


a{
    text-decoration: none; 
    color:black;
    position: relative;
    display: inline-block;
}


a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }
  
  a:hover:after {
    transform: scaleX(1);
  }

a:visited{
    color:black;
}


#myContent{
    height:110vh;
    width:100%;
    margin-top: 70px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
}

#kontaktHeader{
    font-size: 96px;
    color:black;
    font-weight: 700;
}

#ikony{
    width:100%;
    height:200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    gap:30px;
}
#tele,#mail,#adres{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap:15px;
}

#mail-text,#adres-text,#tele-text{
    font-size: 2em;
    font-weight: bold;
    color:black;
    z-index: 900;
}
#tele-icon{
    width:120px;
    height:125px;
    background-image: url("img/call.png");
    background-size: cover;
    background-position: center;
}

#mail-icon{
    width:130px;
    height:122px;
    background-image: url("img/mail.png");
    background-size: cover;
    background-position: center;
}

#adres-icon{
    width:120px;
    height:122px;
    background-image: url("img/house.png");
    background-size: cover;
    background-position: center;
}

#map{
    width:100%;
    height:400px;
    border:solid 3px white;
    border-radius: 30px;
    transform: translateY(10%);
}



h3{
    color:black;
}
#footer{
    width:100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}
#socialMedia{
    display: flex;
    flex-direction: row;
    gap:30px;
}

#facebook{
    width:60px;
    height:60px;
    background-image: url("img/fb1.png");
    background-size: cover;
    background-position: center;
    
}

#facebook:hover{
   border-radius: 30px;
   
   animation: topUp 0.1s ease-in forwards;
}

#instagram{
    width:60px;
    height:60px;
    background-image: url("img/ig1.png");
    background-size: cover;
    background-position: center;
}
#instagram:hover{
    
    border-radius: 30px;
    animation: topUp 0.1s ease-in forwards;
 }

 @keyframes topUp{
    0%{
        transform:translateY(0px);
    }
    100%{
        transform:translateY(-10px);
    }
   
}

.sponsors{
    width:100%;
    height:10vh;
    background-color: #ffff;
    color:#0000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:30px
}

p{
    color:black;
    font-size: 1rem;
    font-weight: 800;
}
.logos{
    
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#hamburger {
    display: none;
  }
  
  #hamburger .line {
    width: 30px;
    height: 3px;
    width: 40px;
    background-color: black;
    margin: 4px;
  }


  #menu{
    width:250px;
    height:300px;
    background-color: #f9f9f9;
    border:solid 0.5px black;
    border-radius: 10px;
    z-index: 999;
    position: fixed;
    left:60%;
    transform: translateX(-60%);
    top:6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    color:black;
    font-weight: bold;
  }


/* @media  screen and (max-width:767px) {
    #tele-text,#mail-text, #adres-text{
        z-index: 0;
    }
   
    #kontaktHeader{
        font-size: 3rem;
        text-align: center;
        width:100%;
    }
    
    #ikony{
        display: flex;
        flex-direction: column;
        width:100%;
        height: max-content;
        gap:50px;
    }
    #map{
       display: none;
    }
    .sponsors{
        display: none;
    }

  
   #navbar #mid,#contactBtn{
    display: none;
}


#hamburger {
  display: flex;
  cursor: pointer;
  flex-direction: column;

 
}
#navbar {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#logo1{
    
    width:100px;
    
}
  #footer{
    height:20vh;
  }
} */


@media screen and (max-width: 420px)and (max-height: 750px) {
    #logo1{  
      width:100px;
  }
   #navbar #mid,#contactBtn{
    display: none;
  }
  
  #hamburger {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  }
  
  #navbar {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  }
  
  #logo1{
    
    width:100px;
    
  }

  #tele-text,#mail-text, #adres-text{
    z-index: 0;
}
#container{
height:150vh;
width:100%;
display: flex;
justify-content: space-around;
justify-items: center;
align-items: center;
}
#myContent{
    width:100%;
    height:inherit;
}
#kontaktHeader{
    font-size: 3rem;
    text-align: center;
    width:100%;
   
}

#ikony{
    display: flex;
    flex-direction: column;
    width:100%;
    height: max-content;
    gap:50px;
   

}
#map{
   display: none;
}

#footer{
    height:35vh;
    width:100%;
}
  }
  @media  screen and (max-width:400px) {
  
    #logo1{  
      width:100px;
  }
   #navbar #mid,#contactBtn{
    display: none;
  }
  
  #hamburger {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  }
  
  #navbar {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  }
  
  #logo1{
    
    width:100px;
    
  }
  #backGround{
  display: none;
    
  }
  .container{
    height:max-content;
    background-repeat: none;
    background-image: none;
    max-height: 150vh;
  }
  .continue{
    display: none;
  }
  
    #navbar{
     z-index: 999;
    }
    #text{
      width:100%;
    }
    #text p{
      font-size: 14px;
    }
  
    .first{
      transform: translateY(50px);
      gap:30px;
    }
    
   }
  @media screen and (max-width:320px){
    .container{
      height:150vh;
    }
    #footer h3{
      font-size: 12px;
    }
  }
  



 