*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin:0;
    
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #cacaca;
  }
#navbar{
    width:100%;
    height:70px;
    background-color: white;
    display:flex;
    position: fixed;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    top:0;
   z-index: 999;

}
#navbar.shadow{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#logo1{
  height:100%;
  width:150px;
    background-image: url("img/logo.png");
    background-size: cover;
    background-position: center;
    object-fit: contain;
}

#mid{
  width:500px;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  font-weight: bold;
  
}

#hamburger{
  display: none;
}

#contactBtn{
    border:none;
    background-color: #47bef1;
    color:white;
    height:50px;
    padding:3px 3px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 15px;
    width:150px;
    text-align: center;
    display:grid;
    place-items: center;
}

#contactBtn:hover{
    background-color: #71ccf3;
}
#contactBtn a{
    color:white;
}
#contactBtn a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #47bef1;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }
  
#contactBtn a:hover:after {
    transform: scaleX(1);
  }

#contactBtn:hover{
    background-color: #47bef1;
}

a{
    text-decoration: none; 
    color:black;
    position: relative;
    display: inline-block;
}

a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }
  
  a:hover:after {
    transform: scaleX(1);
  }
a:visited{
    color:black;
}

.container{
  width:100%;
  height:240vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap:100px;
  background-color: white;
  
}

#first{
  width:100%;
  height:110vh;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: white;
}
#backGround{
  height:100%;
  width:100%;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  background-image: url("img/BajlexTło.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  opacity:0.1;
  background-color: white;
  
}
#firm{
  font-size: 3rem;
 text-align: center;
  font-weight: 900;
}
#text{
  text-align: center;
  width:80%;
  font-size: 18px;
  font-weight: 600;
  animation: load 1.5s ease-in-out;
}

.section {
  opacity: 0;
  transform: translateY(300px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}


.section.active {
  opacity: 1;
  transform: translateY(0);
}
#continue{
  height:130vh;
  width:100%;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  background-color: #F9F9F9;
  flex-wrap: wrap;
  
}
#writing{
  width:100%;
  padding-left: 30px;
  transform: translateY(200px);
}
#left{
  width:500px;
  height:400px;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  
}
#mid1{
  width:500px;
  height:400px;
  
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  
}
#right{
  width:500px;
  height:400px;
 
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  
}

#footer{
  background-color: #FFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  height:30vh;
}

#socialMedia{
  display: flex;
  flex-direction: row;
  gap:30px;
}

#facebook{
  width:60px;
  height:60px;
  background-image: url("img/fb1.png");
  background-size: cover;
  background-position: center;
  
}

#facebook:hover{
 border-radius: 30px;
 
 animation: topUp 0.1s ease-in forwards;
}

#instagram{
  width:60px;
  height:60px;
  background-image: url("img/ig1.png");
  background-size: cover;
  background-position: center;
}
#instagram:hover{
  
  border-radius: 30px;
  animation: topUp 0.1s ease-in forwards;
}

@keyframes topUp{
  0%{
      transform:translateY(0px);
  }
  100%{
      transform:translateY(-10px);
  }
 
}
@keyframes load{
  0%{
      transform:translateY(300px);
      opacity:0.8;
  }
  50%{
      opacity:0.9;
  }
  100%{
      transform:translateY(0px);
      opacity:1;
  }

  
}
#myLine{
  display: none;
}
#myImg{
  width:120px;
  height:157px;
  background-image: url("img/timer.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  background-position: center;
  
}

#myImg1{
  width:160px;
height:157.14px;
background-image: url("img/status.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  background-position: center;
   
}

#myImg2{
  width:179px;
  height:157.14px;
  background-image: url("img/book.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  background-position: center;
  
}
#myImgText, #myImgText1, #myImgText2{
  font-size: 1.2rem;
  font-weight: 900;
}

#hamburger .line {
  width: 30px;
  height: 3px;
  width: 40px;
  background-color: black;
  margin: 4px;
}
#menu{
  width:250px;
  height:300px;
  background-color: #f9f9f9;
  border:solid 0.5px black;
  border-radius: 10px;
  z-index: 999;
  position: fixed;
  left:60%;
  transform: translateX(-60%);
  top:6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  color:black;
  font-weight: bold;
}

/* ======================\/ MEDIA QUERIES \/ ====================*/





/*================== SIMPLE TABLETS/LAPTOPS ====================*/

@media  screen and (max-width:950px) {
  #right{
   width:100px;
   background-color: #F9F9F9;
  
  }
  #mid1{
    width:100px;
    background-color: #F9F9F9;
    
  }
  #left{
    width:100px;
    background-color: #F9F9F9;
  }
  .container{
    background-color: white;
    height:250vh;
  }
  #continue{
    background-color: #F9F9F9;
  }
  #footer{
    background-color: white;
  }
  #text{
    font-size: 18px;
  }
  #myImgText,#myImgText1,#myImgText2{
    font-size: 14px;
    width:max-content;
  }
 }
 @media  screen and (max-width:1350px) {
  #right{
   width:100px;
   background-color: #F9F9F9;
  
  }
  #mid1{
    width:100px;
    background-color: #F9F9F9;
    
  }
  #left{
    width:100px;
    background-color: #F9F9F9;
  }
  .container{
    background-color: white;
    height:250vh;
  }
  #continue{
    background-color: #F9F9F9;
  }
  #footer{
    background-color: white;
  }
  #text{
    font-size: 18px;
  }
  #myImgText,#myImgText1,#myImgText2{
    font-size: 18px;
    width:max-content;
  }
 }
 @media only screen   
and (min-width: 1030px)   
and (max-width: 1366px)  
{ 
  #first{
    width:100%;
    height:110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #F9F9F9;
  }

  #text{
    text-align: center;
    width:100%;
    font-size: 16px;
    font-weight: 600;
    
  }
} 

/*================== SIMPLE TABLETS/LAPTOPS ====================*/



/* =================== VERTICAL ===================*/

 @media screen and (max-width: 420px)and (max-height: 750px) {
  #logo1{  
    width:100px;
}
 #navbar #mid,#contactBtn{
  display: none;
}

#hamburger {
display: flex;
cursor: pointer;
flex-direction: column;
}

#navbar {
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}

#backGround{
display: none;
  
}
.container{
  
  background-repeat: none;
  background-image: none;
  max-height: 130vh;
}
#continue{
  display: none;
}

  #navbar{
   z-index: 999;
  }

#continue{
  display: none;
}


#text{
  width:100%;
}

#text p{
  font-size: 14px;
}

#footer{
  height:50vh;
  gap:0;
}
 #first{
  transform: translateY(50px);
} 

}
@media  screen and (max-width:400px) {

  #logo1{  
    width:100px;
}
 #navbar #mid,#contactBtn{
  display: none;
}

#hamburger {
display: flex;
cursor: pointer;
flex-direction: column;
}

#navbar {
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}

#logo1{
  
  width:100px;
  
}
#backGround{
display: none;
  
}
.container{
  height:max-content;
  background-repeat: none;
  background-image: none;
  max-height: 150vh;
}
#continue{
  display: none;
}

  #navbar{
   z-index: 999;
  }
  #text{
    width:100%;
  }
  #text p{
    font-size: 14px;
  }

  #first{
    transform: translateY(50px);
    gap:30px;
  }
  
 }
@media screen and (max-width:320px){
  .container{
    height:150vh;
  }
  #footer h3{
    font-size: 12px;
  }
}

/* =================== VERTICAL ===================*/



/* ================= HORIZONTAL TRY OUT ===========================*/

@media screen and (max-width: 812px)and (max-height: 400px) {

}

/* ================= HORIZONTAL TRY OUT ===========================*/
