*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

#offerSite{
    width:100%;
    height:80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    background-color:white;
    
}

h1{
    font-size: 96px;
    color:#FCEA3B;
    font-weight: bold;
    text-align: center;
}

#nextIcon{
    width:65px;
    height:65px;
    background-image: url("img/4569411-200-removebg-preview.png");
    background-size: cover;
    border:none;
    background-color: white;
    border-radius: 100px;
    border-style: hidden;
    animation: slide 1s ease-in infinite;
    
}

#nextIcon:hover {
    transform: translateY(6px);
    -webkit-box-shadow: inset 0px 0px 10px -1px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 10px -1px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 10px -1px rgba(66, 68, 90, 1);
}

@keyframes slide{
    0%{
        transform:translateY(0px);
    }
    50%{
        transform:translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}

#servicesDivs{
    width:100%;
    height:200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:50px;
    justify-content: center;
}

#fireCourseText,#measurementText,#BHPText,#outsourcingText,#bhpSupervisingText,#documentationText,#firstAidText
{
    font-weight: bold;
    color:black;
}
#fireCourseIcon,#measurementIcon,#BHPIcon,#outsourcingIcon,#bhpSupervisingIcon,#documentationIcon,#firstAidIcon{
width:195px;
height:180px;
border-radius: 30px;
box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.25);

}

#fireCourseIcon:hover,#measurementIcon:hover,#BHPIcon:hover,#outsourcingIcon:hover,#bhpSupervisingIcon:hover,#documentationIcon:hover,#firstAidIcon:hover{
    
    -webkit-box-shadow: inset 0px 0px 31px -1px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 31px -1px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 31px -1px rgba(66, 68, 90, 1);
    
    }

#fireCourseIcon{
    background-image: url("img/campfire-icon-.jpg");
    background-size: cover;
    background-position: center;
}
#fireCourse,#measurement,#BHP,#outsourcing,#bhpSupervising,#documentation,#firstAid{
   
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    gap:15px;
}

#measurementIcon{
    background-image: url("img/pomiary-removebg-preview.png");
    background-size: cover;
    background-position: center;
    background-color: white;
}

#BHPIcon{
    background-image: url("img/x1-coe-talent-management-2.png.pagespeed.ic_.KD-mnWOYeb-2.png");
    background-size: cover;
    background-position: center;
}

#outsourcingIcon{
    background-image: url("img/outsourcing-icon-outsourcing-icon-symbol-business-illustration-on-isolated-background-vector.webp");
    background-size: cover;
    background-position: center;
    
}


#bhpSupervisingIcon{
    background-image: url("img/download.jpg");
    background-size: cover;
    background-position: center;
}

#documentationIcon{
    background-image: url("img/depositphotos_96280286-stock-illustration-medical-records-icon.jpg");
    background-size: cover;
    background-position: center;
}

#firstAidIcon{
    background-image: url("img/istockphoto-1158611058-612x612.jpg");
    background-size: cover;
    background-position: center;
}

#fireCourseInformation,#measurementInformation,#BHPInformation,#outsourcingInformation,#bhpSupervisingInformation,#documentationInformation,#firstAidInformation{
    width:300px;
    height:450px;
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    top:30%;
    z-index: 999;
    background-color: white;
    opacity:.95;
    border-radius: 15px;
    box-shadow: 1px 3px 5px 3px rgba(0,0,0,0.25);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-weight: bold;
    
}



#navbar{
    width:100%;
    height:70px;
    background-color: white;
    display:flex;
    position: fixed;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    top:0;
    left:0;
}
#navbar.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  #logo1{
    height:100%;
    width:150px;
    justify-content: space-between;
    /* margin-top: 10px; */
    background-image: url("img/logo.png");
    background-size: cover;
    background-position: center;
    
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #00c6c5;
  }


#mid{
    width:500px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    font-weight: bold;
    
}

#contactBtn{
    border:none;
    background-color: #1db4f5 ;
    color:white;
    height:50px;
    padding:3px 3px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 15px;
    width:150px;
    text-align: center;
    display:grid;
    place-items: center;
}
#contactBtn a{
    color:white;
}

#contactBtn a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #47bef1;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }
  
#contactBtn a:hover:after {
    transform: scaleX(1);
  }


#contactBtn:hover{
    background-color: #47bef1;
}

a{
    text-decoration: none; 
    color:black;
    position: relative;
    display: inline-block;
}


a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }
  
  a:hover:after {
    transform: scaleX(1);
  }

a:visited{
    color:black;
}



h3{
    color:black;
}
#footer{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    height:20vh;
}
#socialMedia{
    display: flex;
    flex-direction: row;
    gap:30px;
}

#facebook{
    width:60px;
    height:60px;
    background-image: url("img/fb1.png");
    background-size: cover;
    background-position: center;
    
}

#facebook:hover{
   border-radius: 30px;
   
   animation: topUp 0.1s ease-in forwards;
}

#instagram{
    width:60px;
    height:60px;
    background-image: url("img/ig1.png");
    background-size: cover;
    background-position: center;
}
#instagram:hover{
    
    border-radius: 30px;
    animation: topUp 0.1s ease-in forwards;
 }

 @keyframes topUp{
    0%{
        transform:translateY(0px);
    }
    100%{
        transform:translateY(-10px);
    }
   
}

